[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
environs = {extras = ["django"], version = "*"}
gunicorn = "==19.9.0"
django-crispy-forms = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
