appdirs==1.4.4
asgiref==3.3.4
certifi==2021.5.30
distlib==0.3.2
dj-database-url==0.5.0
dj-email-url==1.0.2
Django==3.2.4
django-cache-url==3.2.3
django-crispy-forms==1.12.0
environs==9.3.2
filelock==3.0.12
gunicorn==19.9.0
marshmallow==3.12.1
pipenv==2021.5.29
python-dotenv==0.17.1
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
virtualenv==20.4.7
virtualenv-clone==0.5.4
whitenoise==5.2.0
